
* {
    box-sizing: border-box;
}

html {
    font-family: "Times New Roman", sans-serif;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
}
/*By basically only using percentages to adjust the sizes and margins of all sections 
    the page should be at least somewhat resizeable */

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}



#inputBox {
    margin-left: 10%;
}
#buttons {
    margin-left: 10%;
}
#decodeButton {
    margin-top: -20px;
    margin-left: 20%;
}
#hideButton {
    float:right;
    margin-right: 15%;
}
#outputBox {
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid black;
}
#outputBoxRow {
    display: inline-block;
    margin-left: 5%;
    margin-top: 5%;
    width: 100%;
}
#barcode {
    margin-top: 20mm;
    margin-bottom: 5%;
    margin-left: 15%;

    min-width: 130mm;
    max-with: 200mm;
}
#amount {
    float: left;
    margin-left: 10%;
}
#dueDate {
    float: left;
    margin-left: 10%;
}
